{% extends "base.html.twig" %}

{% block title %}Suppression du profil utilisateur{% endblock %}

{% block body %}
<div class="container mt-4 full">
    <h1>Suppression du profil</h1>
    <p>Nous sommes désolés de vous voir partir... souhaitez-vous nous faire part des raisons de votre départ ?</p>
    <a href="#" class="btn btn-primary mb-3">Contactez-nous</a>
    {# <a href="{{ path('contact') }}" class="btn btn-primary">Contactez-nous</a> #}
    {{form_start(myForm)}}
        {{form_widget(myForm)}}
        <button type="submit" class="btn btn-warning">Supprimer votre compte</button>
    {{form_end(myForm)}}
</div>

{% endblock %}