{% extends "base.html.twig" %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<div class="container mt-4 full">
    <h1>Modification du mot de passe</h1>
    {{form_start(myForm)}}
        {{form_widget(myForm)}}
        <button type="submit" class="btn btn-warning">Confirmer la modification du mot de passe</button>
    {{form_end(myForm)}}
</div>

{% endblock %}