<footer class='mt-5 bg-primary py-5 text-center text-light'>
    <p>Copyright &copy; Kimberley Quenon - EPSE 2023 - 2024</p>
    <p>Ce site a été établi dans le cadre du cours de framework serveur. Données fictives.</p>
</footer>