@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

.full{
    min-height:70vh;
}

#btnGroupDrop1{
    height:40px;
}

/* homepage */
.slidePage{
    width:100%;
    min-height:100vh;
    position: relative;
}

#home{
    background-image: url(/public/images/bg_home1.jpg);
    background-position: center center;
    background-size: cover;
}

.titles{
    font-family: 'Russo One', sans-serif;
}

#titleHome{
    font-size: 65px;
}

.titleBox{
    background-color: none;
    border: 1px solid white;
    border-radius: 10px;
}

#homeImage, #aboutImage{
    width:100%;
    height:80vh;
    background-position: center center;
    background-size: cover;
}

#homeImage{
    background-image: url(/public/images/home_car.png);
}

#aboutImage{
    background-image: url(/public/images/front_details.png);
}

/* à propos */

#details1, #details2, #details3{
    width:100%;
    height:20vh;
    background-position: center center;
    background-size: cover;
}

#details1{
    background-image: url(/public/images/details1.webp);
}
#details2{
    background-image: url(/public/images/details2.webp);
}
#details3{
    background-image: url(/public/images/details3.webp);
}

/* annonces récentes */
#newAd{
    background-image: url(/public/images/bg_annonce.jpg);
    background-size: cover;
    background-position: center center;
}
.cardHover{
    transition:all 0.5s;
    cursor: pointer;
}

.cardHover:hover{
    background-color: #e5e5e5;
    transform: scale(1.05);
}

/* top vendeur */
#topOwners{
    background-image: url(/public/images/bg_owners.jpg);
    background-size: cover;
    background-position: center center;
}
.starsimg{
    height:200px;
    width:100%;
    object-fit: cover;
    display: block;
}

/* vue individuelle */
#carImage{
    width:100%;
    background-image: url(/public/images/bg_show.png);
    height:80vh!important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.carCover{
    width:100%;
    height:80vh;
}

.carousel-item img{
    height: 300px;
    object-fit: cover;
}

.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

#price{
    font-size: 60px;
    text-align: right;
}


/* hover de déconnexion */
a.dropdown-item.bg-light:hover {
    color: red;
}

/* gestion image de profil */
.bigAvatar, .avatar, .ownerAvatar{
    margin:0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.bigAvatar{
    width:380px;
    height:380px;
}

.avatar{
    width:40px;
    height:40px;
}

.ownerAvatar{
    width:60px;
    height:60px;
}
.bigAvatar img, .avatar img, .ownerAvatar img, .carCover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carCover img{
    object-fit: contain;
}