.container{
    margin-top:20px;
}

.starsimg{
    height:200px;
    width:100%;
    object-fit: cover;
    display: block;
}


.annonce-title{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

.annonce-title h1, .annonce-title h2, .annonce-title p{
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.carousel-item img{
    height: 400px;
    object-fit: cover;
}

.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.full{
    min-height:70vh;
}