*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

.slide{
    width:100%;
    min-height:100vh;
    position: relative;
}

#home{
    background-image: url(/public/images/bg_home.jpg);
    background-position: center center;
    background-size: cover;
}
.container{
    margin-top:20px;
}
.full{
    min-height:70vh;
}

.starsimg{
    height:200px;
    width:100%;
    object-fit: cover;
    display: block;
}


.annonce-title{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

.annonce-title h1, .annonce-title h2, .annonce-title p{
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.carousel-item img{
    height: 400px;
    object-fit: cover;
}

.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}


/* hover de déconnexion */
a.dropdown-item.bg-light:hover {
    color: red;
}

/* gestion image de profil */
.bigAvatar, .avatar {
    margin:0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.bigAvatar{
    width:380px;
    height:380px;
}

.avatar{
    width:50px;
    height:50px;
    margin-left: 2%;
}

.bigAvatar img, .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}