<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sell Your Car - {% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="images/logo.png">
        <link rel="icon" sizes="32x32" href="images/logo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
        {% include "partials/header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "partials/footer.html.twig" %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
