{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container full">
    <h1>Contactez-nous</strong></h1>

    {{form_start(myForm)}}

        {{form_widget(myForm)}}
        <button type="submit" class="btn btn-primary mt-3">Envoyer</button>

    {{form_end(myForm)}}
    </div>
{% endblock %}
