{% extends 'base.html.twig' %}

{% block title %}Supprimer une annonce{% endblock %}

{% block body %}
    <div class="container">
        <h1>Supprimer une annonce</h1>
        <button type="submit" class="btn btn-warning">Supprimer</button>
        <a href="{{ path('cars_index') }}" class="btn btn-primary">Retour à la liste des voitures</a>
    </div>
{% endblock %}