{% extends 'base.html.twig' %}

{% block title %}Nos Voitures{% endblock %}

{% block body %}
    <div class="container mt-4 ">
        <div class="row">
            <h1 class="mb-3">Consultez notre show-room</h1>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <p>Découvrez notre showroom en ligne pour explorer notre impressionnante sélection de véhicules. Parcourez des modèles de haute qualité à des prix compétitifs, et trouvez la voiture de vos rêves dès aujourd'hui !</p>
                </div>
            </div>
            {% include "partials/cards.html.twig" %}
        </div>
    </div>
{% endblock %}