{% extends "base.html.twig" %}


{% block title %}Création d'une fiche de vente{% endblock %}

{% form_theme myForm 'cars/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Nouvelle voiture à vendre</h1>

        {{ form_start(myForm) }}


             {{form_widget(myForm)}}

            <button type="submit" class="btn btn-primary mt-3">Terminer</button>



        {{ form_end(myForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('car')}}
{% endblock %}